@{
	ViewBag.Title = "Home Page";
}

<form action="/home/result" method="post" id="mainForm" enctype="multipart/form-data">

	<div class="container">
		<!--  Outer row  -->
		<div class="row">

			<div class="section col s12 m9 l10">
				<div id="download" class="row scrollspy">
					<h2 class="col s12 header">Submit your files</h2>
					<p class="caption col s12">Use this form to to replace the qualification judge system that have been shutdown since end of qualification round. You will see all details about your submis</p>

					<div class="col s12 m6">
						<b>1. Select a input file</b>
						<p>This file describes the size of the data center, the servers available and dead slots in each row. </p>

						

						<select name="inputFile">
							<option value="" disabled selected>Choose input file</option>
							<option value="1">Explanation file</option>
							<option value="2">Qualification file</option>
						</select>

					</div>
					<div class="col s12 m6">
						<b>2. Upload your submition file</b>
						<p>Upload result of your algorithm. Your file will not be save ! all analyse is in memory and is anonymous.</p>

						<div class="file-field input-field">
							<div class="btn" style="position: absolute;">
								<span></i>File</span>
								<input name="outputFile" type="file">
							</div><input class="file-path validate" type="text">

						</div>

					</div>

					<div class="col s12 m16 left-align">
						<span class="red-text text-darken-2">@Model</span>
						</div>
					
					</div>

					<div class="col s12 m16 right-align">
						<br />
						<br />
						<a class="waves-effect waves-light btn-flat btn-large" onclick="mainForm.submit()"><i class="mdi-image-navigate-next right"></i>Show result</a>

					</div>
				</div>


			</div>


		</div>


	</div>

</form>
@section scripts
{
	<script type="text/javascript">
		$(function () {
			$('select').material_select();
		});
	</script>
	
}